#mainScreen {
    height: 620px;
}

#editor{
	padding: 10px;
    background: darkslategray;
    height: inherit;
}

#mToolbar{
	padding: 10px 25px 0px 25px;
    background: gray;
    height: 600px;
}

#mOptionsToolbar{
    display: none;
    height: inherit;
}

#mCanvas{
	background: white
}

#bPreview {
    height: inherit;
}

#commits {
    float: right;
    background: darkslategray;
    width: 320px;
    height: inherit;
    overflow-y: scroll;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }


#hiddenProjectName{
	display: none;
}

#hiddenUserName{
	display: none;
}


#progressBar{
	display: none;
}

label {

    font-size: 1.2rem;
    color: #b2d9e6;

}

legend {

    font-size: 1.2rem;
    color: #b2d9e6;

}

/* Preview overlay CSS */

#prevProgressBar{
    display: none;
}

#mPreviewCanvas{
    background: white;
    width: 800px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.centered {
    top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: 15em; /*set to a negative number 1/2 of your width*/
  }

/* Custom right click menu */

  #items{
    list-style:none;
    margin:0px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    font-size:17px;
    color: #333333;
    
  }
  hr { width: 85%; 
    background-color:#E4E4E4;
    border-color:#E4E4E4;
      color:#E4E4E4;
  }
  #cntnr{
    display:none;
    position:fixed;
    border:1px solid #B2B2B2;
    width:150px;
    background:#F9F9F9;
    box-shadow: 3px 3px 2px #E9E9E9;
    border-radius:4px;
  }
  
  li{
    
    padding: 3px;
    padding-left:10px;
  }
  
  
  #items :hover{
     color: white;
    background:#284570;
    border-radius:2px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card-horizontal {
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
}

/* On mouse-over, add a deeper shadow */
.card-horizontal:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
